<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Talk Two</title>
    <style>
        #home-post-container {
            border: solid 1px blue; 
            display: flex;
            flex-direction: column; 
            justify-content: space-evenly; 
        }
        #home-post-created {
            border: solid 1px purple; 
        }
        #home-comments-container {
            display: flex;
            flex-direction: column; 
            border: solid 1px orange; 
            justify-content: center; 
            align-items: center;
        }
        #new-post-container {
            border: solid 1px red; 
            display: flex;
            flex-direction: column; 
            justify-content: center; 
            align-items: center; ;
        }
    </style>
</head>
<body>
    {{{body}}}
</body>
</html>