
    <div id="home-post-container">
        <a href=# onclick="showPostBody()"><p id="home-post-title">Post.title</p></a>
        <p id="home-post-created">Posted By</p>
        <p id="home-post-date">formatDate</p>
        <div id="home-post-body">
            Post.body lorem ipsum the hell outa this
            <div id="home-post-comments-container">
                <div id="home-post-comments">Comments go here</div>
                <p id="home-post-comments-by">Commenter</p>
                <p id="home-post-comments-date">formatDate</p>
                <button id="add-comment-btn">Add Comment</button>
            </div>
        </div>
    </div>

     
     
{{!-- <script>
    let dbBtn = document.querySelector('.dashboard'); 
         dbBtn.style.display="none";
         let logoutBtn = document.querySelector('.logout'); 
         logoutBtn.style.display="none"; 
</script> --}}
    
      
